//COLOR SCHEME
@import 'color_functions';

$primary-color: #2980b9;//:use 60% of time //calculate all from one color
$complement-color: adjust_hue($primary-color, 180);
$secondary-color: adjust_hue($primary-color, 135);//:use 30% of time
$tertiary-color: adjust_hue($primary-color, 200);//:use 10% of time

//Needed for foundation styles. Auto Generate from hues of primary
$alert-color: alert($primary-color);//red
$success-color: success($primary-color);//green
$warning-color: warning($primary-color);//yellow/orange
$info-color: info($primary-color);//blue

//Buttons:
//Put colors that need button generation here: usage: a.button.secondary
$colors: 			primary 		compliment 			secondary 			tertiary 		alert 			success 		warning 		info;
$color-definition: 	$primary-color 	$complement-color	$secondary-color 	$tertiary-color $alert-color 	$success-color 	$warning-color 	$info-color;

//Backgrounds:
$bg-colors: white accent dark dark-accent;
$bg-colors-d: #fff #f5f5f5 #2d3338 #41464b;

//Borders?
$border-colors: accent dark-accent;
$border-colors-d: #f5f5f5 #41464b;

//Text Colors:
$text-colors: text-primary text-secondary text-inverse text-inverse-secondary;
$text-colors-d:#404a50  #999999 #fff #859196;

//generate additional shades of text, primary based on percentage lightness/darkness?

//Set percentage by which we go darker for plastic shadow, etc

//affect nav bar and secondary nav?