//COLOR SCHEME
@import 'color_functions';

$primary-color: #3389dd;//:use 60% of time //calculate all from one color
$complement-color: adjust_hue($primary-color, 180);
$secondary-color: adjust_hue($primary-color, 135);//:use 30% of time
$tertiary-color: adjust_hue($primary-color, 200);//:use 10% of time

//Needed for foundation styles. Auto Generate from hues of primary
$alert-color: alert($primary-color);//red
$success-color: success($primary-color);//green
$warning-color: warning($primary-color);//yellow/orange
$info-color: info($primary-color);//blue

//Buttons:
//Put colors that need button generation here: usage: a.button.secondary
$colors: 			primary 		compliment 			secondary 			tertiary 		alert 			success 		warning 		info;
$color-definition: 	$primary-color 	$complement-color	$secondary-color 	$tertiary-color $alert-color 	$success-color 	$warning-color 	$info-color;

//Backgrounds:
$bg-colors: white accent dark dark-accent complement;
$bg-colors-d: #fff #f5f5f5 #2d3338 #41464b $complement-color;

//Borders?
$border-colors: accent dark-accent;
$border-colors-d: #f5f5f5 #41464b; //transparency instead of absolute

//Text Colors:
$text-colors: primary secondary inverse inverse-secondary;//transparency instead of absolute so can be on colored background
$text-colors-d:#404a50  rgba(0,0,0,0.7) #fff rgba(255,255,255,0.7);

//Set percentage by which we go darker for plastic shadow, etc

//nav on small screens
//secondary nav
//subheader color
//main text color
//override h1, subheader, p

//generators
//BACKGROUNDS
@each $color-id in $bg-colors {
	$i: index($bg-colors, $color-id);
	$color: nth($bg-colors-d, $i);

	.#{$color-id}-bg{
		background-color: $color;
	}
}

//TEXT
@each $color-id in $text-colors {
	$i: index($text-colors, $color-id);
	$color: nth($text-colors-d, $i);

	.#{$color-id}-text{
		color: $color;
	}
}

//BORDERS
@each $color-id in $border-colors {
	$i: index($border-colors, $color-id);
	$color: nth($border-colors-d, $i);

	.#{$color-id}-border{
		border:$border-size solid $color;
	}
}

//TEMP
nav.top-bar{
	background: $primary-color;
}
nav.top-bar.transparent{
	background: transparent;
	li{
		background: transparent;
		a:not(.button){
			background: transparent;
		}
		a:not(.button):hover{
			background: rgba(255,255,255,0.3);
		}
	}
}
nav.top-bar.transparent li.active a:not(.button){
	background: rgba(255,255,255,0.2);
}
nav.top-bar.transparent li.active a:not(.button):hover{
	background: rgba(255,255,255,0.3);
}