//STYLE OVERRIDES
//take away pointer on label
label{
	cursor: default;
}
//take away asterix
div.required{
	abbr{
		display: none;
	}
}
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
textarea {
	border: 1px solid #e1e1e1;
	box-shadow: none;
	transition: border-color 0.15s ease-in-out;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="color"]:focus,
textarea:focus {
    box-shadow: none;
    border-color: $primary-color;
    outline: none;
    background: #fff;
}
div.error{
	input{
		border-color: $alert-color;
	}
	input:focus{
		border-color: $alert-color;
	}
}
[data-abide] .error small.error{
	font-style: normal;
}
input.tight{
	padding: 0.3rem;
	height: 1.7rem;
	line-height: 1rem;
}
form.flat{
	input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
textarea {
		background: #e8ebed;
		border: 2px solid #e8ebed;
		margin-bottom: 15px;
	}
	input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="color"]:focus,
textarea:focus {
		background: #fff;
		border: 2px solid #d4d9dd;
	}
	div.error{
		input{
			background-color: lighten($alert-color, 40%);
			border-color: lighten($alert-color, 40%);
		}
		input:focus{
			background: white;
			border-color: $alert-color;
		}
	}
	small.error{
		padding: 0.56rem 0.5625rem 0.5625rem;
		padding-left: -30px;
		margin-bottom: 1rem;
		font-size: 0.75rem;
		font-weight: normal;
		border-radius: $global-radius;
		font-weight: 200;
	}
	small.error:before{
		position: relative;
		display: inline-block;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-bottom: 10px solid $alert-color;
		left: 10px;
		top: -19px;
		margin-right:-18px;
		content: '';
	}
}

input.plastic{

}

input.gradient{

}