$include-html-classes: true;
// $include-print-styles: true;
$include-html-global-classes: $include-html-classes;

// b. Grid
// - - - - - - - - - - - - - - - - - - - - - - - - -

// $include-html-grid-classes: $include-html-classes;
// $include-xl-html-grid-classes: false;

$row-width: rem-calc(1000);
$total-columns: 12;
$column-gutter: rem-calc(3);

$font-smoothing: antialiased;

$global-radius: 5px;

$button-font-tny: rem-calc(11);
$button-font-sml: rem-calc(13);
$button-font-med: rem-calc(15);
$button-font-lrg: rem-calc(21);
$button-font-weight: 100;
$button-font-align: center;