.big-icon{
	font-size: 12em;
	color: $primary-color;
}
.med-icon{
	font-size: 4em;
	color: $primary-color;
}

.pic{
	background: url("https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png"), linear-gradient(10deg, #0A120D, #162C4C), no-repeat #162C4C scroll;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;

}